*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    background: #141E30;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

header p{
    color: azure;
    font-size: 20px;
    padding-left: 45px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    position: relative;
}

.nav-links li {
    position: relative;

}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    display: block;
}

.nav-links a:hover {
    color: #ff3e3e;
}

.dropdown {
    display: none;
    position: absolute;
    background: white;
    min-width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown a {
    color: #004080;
    padding: 10px;
    display: block;
}

.nav-links li:hover .dropdown {
    display: block;
    list-style: none;
}
